{% load crowdsourcing %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/enlarge.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}css/google_maps.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css" type="text/css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css"></link>

{% jquery_and_google_api %}
{% yahoo_api %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/enlarge.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/google_maps.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/survey.js"></script>
