{% load crowdsourcing %}

{% thanks_for_entering request forms survey %}
{% if not entered or not valid %}
  {% for form in forms %}
    {% if form.question.section %}
      {% ifchanged form.question.section %}
        <hr/><h4>{{ form.question.section }}</h4>
      {% endifchanged %}
    {% endif %}
    <div id="{{ form.question.fieldname }}">
      {% if form.question.question_html %}
        {{ form.question.question_html|safe }}
      {% endif %}
      {{ form.answer}}
    </div>
  {% endfor %}
  {% csrf_token %}
  <input type="submit" value="Submit" />
  {% if entered %}
    <span class="error">Please fix the problems above.</span>
  {% endif %}
{% endif %}
